<div class="cards">
  {% for item in data %}
    <div class="card" id="{{item.id}}">
      <img src="{{item.image}}" alt="{{item.title}}">
      <h1>{{item.title}}</h1>
      <p>por {{item.author}}</p>
    </div>
  {% endfor %}
</div>