{% extends "home/layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/home/recipes.css">
  <link rel="stylesheet" href="/styles/home/search.css">
  <title>Foodfy - Receitas</title>
{% endblock head %}

{% block filter %}
  {% include "home/fields-form-filter.njk" %}
{% endblock filter %}

{% block content %}
  <section id="content">
    <div class="search">
        <h1>Buscado por ""bacon""</h1>
    </div>

    {% include "home/fields-recipes.njk" %}
  </section>
{% endblock content %}

{% block scripts %}
  <script src="/scripts/clickRecipeCard.js"></script>
{% endblock scripts %}