<div class="content">
  <div class="name">
    <h2>Nome</h2>

    <input type="text" name="name" placeholder="Digite o nome e sobrenome do chef" value="{{ chef.name }}">
  </div>

  <div class="image">
    <h2>Avatar</h2>

    <input type="url" name="avatar_url" placeholder="https://" value="{{ chef.avatar_url }}">
  </div>
</div>