{% extends "admin/layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/admin/chefs/index.css">
  <title>Foodfy - Gerenciar chefs</title>
{% endblock head %}

{% block content %}
  <section class="content">
    <h1>Gerenciar chefs</h1>

    <div class="cards">

      <div class="card">
        <div class="image">
          <img src="/assets/photo-chef1.jpeg" alt="chef">
        </div>

        <div class="info">
          <h2>Jean Monteiro</h2>
          <a href="#">Visualizar</a>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="/assets/photo-chef1.jpeg" alt="chef">
        </div>

        <div class="info">
          <h2>Jean Monteiro</h2>
          <a href="#">Visualizar</a>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="/assets/photo-chef1.jpeg" alt="chef">
        </div>

        <div class="info">
          <h2>Jean Monteiro</h2>
          <a href="#">Visualizar</a>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="/assets/photo-chef1.jpeg" alt="chef">
        </div>

        <div class="info">
          <h2>Jean Monteiro</h2>
          <a href="#">Visualizar</a>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="/assets/photo-chef1.jpeg" alt="chef">
        </div>

        <div class="info">
          <h2>Jean Monteiro</h2>
          <a href="#">Visualizar</a>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="/assets/photo-chef1.jpeg" alt="chef">
        </div>

        <div class="info">
          <h2>Jean Monteiro</h2>
          <a href="#">Visualizar</a>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="/assets/photo-chef1.jpeg" alt="chef">
        </div>

        <div class="info">
          <h2>Jean Monteiro</h2>
          <a href="#">Visualizar</a>
        </div>
      </div>

      <div class="card">
        <div class="image">
          <img src="/assets/photo-chef1.jpeg" alt="chef">
        </div>

        <div class="info">
          <h2>Jean Monteiro</h2>
          <a href="#">Visualizar</a>
        </div>
      </div>

    </div>
  </section>
{% endblock content %}