#content {
    width: 58.75rem;
    margin: 0 auto 3.13rem;
}

#content .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.25rem;
}

#content .card {
    width: 18.75rem;
    cursor: pointer;
    border-radius: 15px;
}

#content .card:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    box-shadow: 8px 4px 4px 0px rgba(0, 0, 0, 0.4);
    transition: 350ms;
}

#content .card img {
    width: 100%;
    margin-bottom: 1.25rem;
    border-radius: 15px;
}

#content .card h1 {
    font-size: 1.13rem;
    line-height: 1.31rem;
    margin-bottom: 0.31rem;
}

#content .card p {
    font-size: 0.88rem;
    line-height: 1rem;
    color: #777777;
}