<div class="filter">
  <form action="/search" method="get">
    <input type="text" name="filter" placeholder="Buscar uma receita" value="{{filter}}">
    <button type="submit">Buscar</button>
  </form>
</div>