<div class="cards">
  {% for recipe in recipes %}
    <div class="card" id="{{recipe.id}}">
      <img src="{{recipe.image}}" alt="{{recipe.title}}">
      <h1>{{recipe.title}}</h1>
      <p>por
        {{recipe.chefs_name}}</p>
    </div>
  {% endfor %}
</div>