<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/chef.ico" type="image/x-icon">

    <link rel="stylesheet" href="/styles/main.css">
    {% block head %}{% endblock head %}

    <title>Foodfy</title>
  </head>

    <body>

      <header>
        <div class="logo">
          <a href="/">
            <img src="/assets/logo.png" alt="Foodfy">
          </a>
        </div>

        <div class="links">
          <a href="/sobre">Sobre</a>
          <a href="/receitas">Receitas</a>
        </div>
      </header>

      <main>
        {% block content %}{% endblock content %}
      </main>

      <footer>
        <p>Todos direitos reservados, receitas Foodfy.</p>
      </footer>

      {% block scripts %}{% endblock scripts %}
    </body>

  </html>