header a:first-child {
    font-weight: bold;
}

#content {
    width: 58.75rem;
    margin: 0 auto;
}

#content h1 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

#content p {
    font-style: 1.13rem;
    line-height: 1.75rem;
    color: #444444;
}

#content div {
    margin-bottom: 1.88rem;
}

#content div:last-child {
    margin-bottom: 3.13rem;
}