{% extends "admin/layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/admin/create-edit.css">

  <title>Foodfy - Editando receita: {{ data.title }}</title>
{% endblock head %}

{% block content %}
  <section class="container">
    <form class="form-delete" action="/admin/receitas" method="post">
      <button class="delete" type="submit">Deletar</button>
    </form>

    <form action="/admin/receitas" method="post">
      <div class="header">
        <h1>Editando receita: {{ data.title }}</h1>

        <button class="save" type="submit">Salvar receita</button>
      </div>

      {% include "admin/fields.njk" %}
    </form>
  </section>
{% endblock content %}

{% block scripts %}
  <script src="/scripts/add-input.js"></script>
{% endblock scripts %}