{% extends "admin/layout.njk" %}

{% block head %}
  <link rel="stylesheet" href="/styles/admin/show.css">

  <title>Foodfy - Detalhes receita
    {{ data.title }}</title>
{% endblock head %}

{% block content %}
  <section class="container">
    <div class="header">
      <h1>Receita:
        {{ data.title }}</h1>

      <a href="">Editar receita</a>
    </div>

    <div class="content">
      <div class="image">
        <img src="{{ data.image }}" alt="{{ data.title }}">
      </div>

      <div class="title">
        <h1>{{ data.title }}</h1>
        <p>por {{ data.author }}</p>
      </div>

      <div class="ingredients">
        <h2>Ingredientes</h2>

        <ul>
          {% for ingredient in data.ingredients %}
            <li>{{ ingredient }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="preparation">
        <h2>Modo de Preparo</h2>

        <ul>
          {% for preparation in data.preparation %}
            <li>{{ preparation }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="extra_info">
        <h2>Informações adicionais</h2>

        <p>{{ data.information }}</p>
      </div>
    </div>
  </section>

{% endblock content %}